@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* make date */
.date-picker {
    background-color: #444;
    box-shadow: 0 4px 4px rgb(48, 47, 47);
    padding: 20px;
    border-radius: 12px;
    display: flex;
    gap: 10px;
    align-items: center;  /* 모든 요소가 중앙 정렬되도록 조정 */
    width: fit-content;  /* 컨테이너의 너비를 내부 컨텐츠에 맞춤 */
    margin-top: 5px;
    margin-bottom: 10px;
}
.input-box {
    flex-grow: 1;  /* 이 속성을 추가하여 각 입력 박스가 가능한 공간을 채우도록 함 */
    background-color: #ffffffee;
    box-shadow: 0 4px 4px rgb(153, 153, 153);
    padding: 15px;
    border-radius: 12px;
    font-family: 'Poppins', sans-serif; 
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
    flex-basis: auto;
}
label {
    color: black;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="number"] {
    background: none;
    border: none;
    color: black;
    font-size: 36px;
    width: 70px;
    outline: none;
    text-align: center;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
button {
    padding: 10px 20px;
    border: none;
    background-color: #666;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #777;
}
/* make log*/
.container {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: #8f8e8e;
    
    box-shadow: 0 4px 4px rgb(48, 47, 47);
    border-radius: 100px;
    padding: 20px;
    position: relative;
    align-items: center;
}
.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e7e5e5;
    font-family: 'GmarketSansMedium', sans-serif;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
    text-decoration-color: #d6c806e1;
    background-color: #0f0f0f7e;
    box-shadow: 2px 3px 6px rgb(231, 230, 230), -2px -3px 50px rgb(231, 230, 230);
    padding: 30px;
    border-radius: 20px;
    margin: 15px;
}
.image-upload {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #6d6c6c;
    box-shadow: 0 4px 4px rgb(48, 47, 47);
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 20px;
}
.image-upload img {
    width: 100%;
    height: auto;
    object-fit: cover;  /* Key for aspect ratio & fill */
}
.upload-btn {
    background-color: #6d6c6c;
    box-shadow: 0 4px 4px rgb(48, 47, 47);
    text-decoration: none !important; 
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 15px;
}
.text-upload{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    gap: 20px;
}
textarea {
    width: 100%;
    /* width: 200px; */
    height: 180px;
    padding: 10px;
    background-color: #444;
    box-shadow: 0 4px 4px rgb(48, 47, 47);
    border: none;
    border-radius: 5px;
    color: white;
    resize: none;
    overflow: auto;
    /* margin-left: 30px; */
    margin-bottom: 10px; /* 더 적절한 간격 조정 */
}
.confirm-btn {
    background-color: #c93737;
    box-shadow: 0 2px 2px #720b0b;
    color: white;
    border: none;
    width: 400px;
    font-family: 'GmarketSansMedium', sans-serif;
    height: 50px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    align-self: flex-end; /* 오른쪽 정렬 */
}

.confirm-btn:hover {
    background-color: #531818; 
    box-shadow: 0 2px 3px rgb(52, 53, 53); 
    
    
    color: #818181;
    transform: translateY(-2px); 
    transition: background-color 0.4s ease, box-shadow 0.4s ease; /* 부드러운 전환 효과 */
}

#feedbackMessage {
    margin-top: 20px;
    color: #FFF;
}