@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/************************************************************************
// =Navbar
*************************************************************************/


.navbar-default {
  background: #ffffff;
  border: none;
  width: 100%;
  height: 100px;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  border-bottom: 2px solid #f0f0f0;
}
.navbar.active {
  position: fixed;
  opacity: 0.95;
  border: 1px solid #E8E8E8;
}

.navbar-nav {
  margin: 7.5px -10px;
}

.navbar-default .navbar-nav > li > a {
  color: #060606;
  text-transform: uppercase;
  -webkit-transition: color .3s ease-in-out;
  -moz-transition: color .3s ease-in-out;
  -ms-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > 
.active > a:focus {
  background: transparent;
  color: #fc6e51;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #030100;
}

.dropdown-menu {
  top: 117%;
  font-size: 12px;
  text-transform: uppercase;
    -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 2px;
  border-top: 0;
  padding: 12px 5px;
}

.dropdown-menu>li>a {
  padding: 3px 15px;
  line-height: 1.7;
  letter-spacing: 2px;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  background-color: #fff;
  color: #fc6e51;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: #fff;
  color: #fc6e51;
}

.navbar-default .dropdown:hover>.dropdown-menu {
  display: block;
}

/************************************************************************
// =profile
*************************************************************************/

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('background6.png') !important;
  background-size: 120% 120%; /* 가로, 세로 모두 100% */
  background-repeat: no-repeat; /* 반복 없음 */
  background-position: center; /* 가운데 정렬 */
  /*background-size: cover;*/
  background-position: center;
  opacity: 0.15; /* 불투명도 조절 */
  z-index: -1; /* 배경 이미지를 뒤로 보내기 */
}
  
.profile-image-container {

  width: 350px; 
  height: 350px;
  border-radius: 50%; 
  overflow: hidden; 
  margin: 40px;
  background-color: #e8e8e8; /* 회색 배경 추가 */
  box-shadow: 0 4px 4px rgb(48, 47, 47); 
  background-color: rgba(255, 255, 255, 0.35); /* 흰색 배경, 불투명도 0.8 (80%) */
}

.profile-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지가 컨테이너에 맞게 잘리도록 합니다. */
}

.profile-container {
  
  display: flex;
  align-items: center;
  justify-content: center; /* 가로 가운데 정렬 추가 */
  margin: 0 auto; /* 컨테이너 자체를 가운데 정렬 */
}

.profile-text {
  margin-left: 5px; /* 이미지와 텍스트 사이 간격 */
  width: 300px; /* 또는 원하는 최대 너비 값 */
  margin-right: -30px;
}

#profile-section {
  padding-top: 40px; /* 네비게이션 바 높이에 맞춰 조절 */
  
}

.profile-text h2 {
  font-family: 'GmarketSansMedium', sans-serif;
  font-size: 35px;
  font-weight: bold; /* 굵게 */
  word-wrap: break-word; /* 또는 overflow-wrap: break-word; */
}

.profile-text p {
  font-size: 20px; /* 크게 (원하는 크기로 조절) */
  font-family: 'GmarketSansMedium', sans-serif;
  margin-bottom: 40px;
  word-wrap: break-word; /* 또는 overflow-wrap: break-word; */
}

.profile-text button {
  display: block; /* 버튼을 블록 레벨 요소로 변경 */
}

.new-post-button {
  background-color: #d36969; /* 빨간색 배경 */
  box-shadow: 0 4px 8px rgba(190, 190, 190, 0.959); 
  color: white; /* 흰색 글씨 */
  border: none;
  width: 200px;
  padding: 15px 30px; /* 패딩 증가 (버튼 크기 키움) */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Poppins', sans-serif; 
  font-weight: bold; /* 굵게 */
  font-size: 18px; /* 폰트 크기 증가 */
  margin: 10px 0; 
  cursor: pointer;
  border-radius: 5px; 
}
.new-post-button:hover {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #e9a89c; 
  
  box-shadow: 0 4px 9px rgba(201, 29, 29, 0.753); 
  transform: translateY(-2px);
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* 부드러운 전환 효과 */
  color: #858181;
}
.new-post-button::before {
  content: "NEW POST"; /* 변경될 텍스트 */
  transition: opacity 0.3s ease; /* 부드러운 전환 효과 */

}
.new-post-button:hover::before {
  content: "MAKE ! RECORD !"; /* 변경될 텍스트 */
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: bold;
}


.aisetting-button {
  background-color: #aab3a8; /* 빨간색 배경 */
  box-shadow: 0 4px 8px rgba(190, 190, 190, 0.959); 
  color: white; /* 흰색 글씨 */
  border: none;
  width: 200px;
  padding: 15px 30px; /* 패딩 증가 (버튼 크기 키움) */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Poppins', sans-serif; 
  font-weight: bold; /* 굵게 */
  font-size: 18px; /* 폰트 크기 증가 */
  margin: 10px 0; 
  cursor: pointer;
  border-radius: 5px; 
}

.aisetting-button:hover {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #5c5e5b;  
  box-shadow: 0 4px 8px rgba(10, 10, 10, 0.884);
  font-family: 'Poppins', sans-serif; 
  transform: translateY(-1px);
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* 부드러운 전환 효과 */
  color: #fffefedc;
}
.aisetting-button::before {
  content: "AI SETTING"; /* 기본 텍스트 */
  transition: opacity 0.3s ease; /* 부드러운 전환 효과 */

}

.aisetting-button:hover::before {
  content: "FIX SETTING !"; /* 변경될 텍스트 */
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.emotions-box {
  background-color: #f3f3f300;
  border-radius: 10px;
  margin: 100px; /* 박스를 가운데 정렬하고 좌우에 자동으로 여백 생성 */
  margin-top: 40px;
  width: 400px;
  height: 250px;
  display: flex; /* Flexbox 사용 */
  justify-content: flex-start; /* 텍스트를 왼쪽 정렬 */
  flex-direction: column; /* 세로 방향으로 배치 */
  border-radius: 30px 30px 30px 30px; /* 위쪽 모서리만 둥글게 */

}


.emotions-header {
  display: flex;
  justify-content: space-between; /* 양쪽 정렬 */
  align-items: center;
  padding: 10px; /* 좌우 패딩 추가 */
  box-sizing: border-box; /* padding을 포함하여 width 계산 */
  width: 100%;
  height: 150px;
  font-size: 20px; /* 폰트 크기 증가 */
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  background-color: #000000; /* 어두운 배경 */
  color: rgb(226, 226, 226);
  
  border-radius: 30px 30px 0 0; /* 위쪽 모서리만 둥글게 */
}

.emotions-header span:first-child { /* 첫 번째 span 요소 (MY Emotions) 선택 */
  margin-left: 20px; /* 원하는 여백 크기로 조절 */
}

.week-label {
  background-color: #666; /* 좀 더 어두운 배경 */
  padding: 5px 10px;
  border-radius: 5px;
}

.emotions-content {
  display: flex;
  justify-content: space-around; /* 균등하게 배치 */
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 30px;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  background-color: #f5f2f2;
  box-shadow: 0 4px 4px rgb(48, 47, 47); 
  border-radius: 0px 0px 30px 30px; /* 아래쪽 모서리만 둥글게 */
}

.emotion-item1 {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 0.5px 1px rgba(100, 100, 100, 0.993); 
  padding: 15px 15px; /* 상하좌우 패딩 추가 */
  border-radius: 15px 0px 0 15px; /* 위쪽 모서리만 둥글게 */
  align-items: center;
  gap: 5px; /* 또는 원하는 간격 값 */
}

.emotion-item2, .emotion-item3 {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 0.5px 1px rgba(100, 100, 100, 0.993); 
  padding: 15px 15px; /* 상하좌우 패딩 추가 */
  border-radius: 0 0 0 0; /* 위쪽 모서리만 둥글게 */
  align-items: center;
  gap: 5px; /* 또는 원하는 간격 값 */
}


.emotion-item4 {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 0.5px 1px rgba(100, 100, 100, 0.993); 
  padding: 15px 15px; /* 상하좌우 패딩 추가 */
  border-radius: 0 15px 15px 0; /* 위쪽 모서리만 둥글게 */
  align-items: center;
  gap: 5px; /* 또는 원하는 간격 값 */
}

.emotion-item1 img,.emotion-item2 img, .emotion-item3 img, .emotion-item4 img {
  width: 50px; /* 이모지 크기 조절 */
  height: 50px;
  margin-bottom: 10px;
}

.emotion-label1 {
  font-weight: bold;
  background-color: #dbc76b; /* 배경색 (원하는 색으로 변경 가능) */
  box-shadow: 0px 0.5px 2px rgba(100, 100, 100, 0.993); 
  padding: 5px 10px; /* 상하좌우 패딩 추가 */
  border-radius: 10px 10px 10px 10px; /* 위쪽 모서리만 둥글게 */
}

.emotion-label2 {
  font-weight: bold;
  background-color: #af7272; /* 배경색 (원하는 색으로 변경 가능) */
  padding: 5px 10px; /* 상하좌우 패딩 추가 */
  border-radius: 10px 10px 10px 10px; /* 위쪽 모서리만 둥글게 */
  box-shadow: 0px 0.5px 2px rgba(100, 100, 100, 0.993); 
}

.emotion-label3 {
  font-weight: bold;
  background-color: #72af7c; /* 배경색 (원하는 색으로 변경 가능) */
  box-shadow: 0px 0.5px 2px rgba(100, 100, 100, 0.993); 
  padding: 5px 10px; /* 상하좌우 패딩 추가 */
  border-radius: 10px 10px 10px 10px; /* 위쪽 모서리만 둥글게 */
}

.emotion-label4 {
  font-weight: bold;
  background-color: #5d88b1; /* 배경색 (원하는 색으로 변경 가능) */
  box-shadow: 0px 0.5px 2px rgba(100, 100, 100, 0.993); 
  padding: 5px 10px; /* 상하좌우 패딩 추가 */
  border-radius: 10px 10px 10px 10px; /* 위쪽 모서리만 둥글게 */
}

.emotion-count {
  font-size: 20px;
  font-family: 'Poppins', sans-serif; 
  font-weight: bold;
  margin-top: 5px;
}

.dropdown-toggle {
  background-color: #666; /* 배경색 */
  color: white; /* 글자색 */
  border: none; /* 테두리 없음 */
  margin-right: 20px; /* 원하는 여백 크기로 조절 */
  padding: 5px 10px;
  border-radius: 15px 15px 15px 15px;
  cursor: pointer;
}

.dropdown-menu {
  background-color: #f0f0f0; /* 드롭다운 메뉴 배경색 */
}

.dropdown-item {
  padding: 5px 10px;
  cursor: pointer;
}

.cal-buttons-container {
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  background-color: #cecbcbc4;  
  margin-left: 18%;
  overflow: hidden;
  overflow-x: auto;
  width: 700px;
  align-items: center; /* 가운데 정렬 추가 */
  border-radius: 20px 0px 0px 20px;
  padding: 15px;
  align-items: flex-start; /* 왼쪽 정렬 추가 */
  box-shadow: 0 4px 4px rgb(48, 47, 47); 
}

.cal-header {
  background-color: rgb(129, 170, 129); /* Green background */
  box-shadow: 0 4px 4px rgba(116, 153, 116, 0.993); 
  width: 100%;
  margin-top: 5px;
  
  font-family: 'Poppins', sans-serif; 
  font-size: 18px;
  font-weight: bold;
  color: white;          
  padding: 10px 20px;    
  text-align: center;    
  border-radius: 10px;   
  margin-bottom: 25px;   
}

.cal-row {
  display: flex; 
  justify-content: center; 
  width: 100%;
  margin-bottom: 15px; 
}

.cal-button {
  transition: all 0.3s ease; 
  width: 100px; 
  height: 80px; 
  margin-right: 15px;
  
  padding: 20px 20px; 
  font-family: 'Poppins', sans-serif; 
  font-size: 16px;
  border: none;
  background-color: #f0f0f0;
  box-shadow: 0px 0.5px 2px rgba(100, 100, 100, 0.993); 
  border-radius: 15px 15px 15px 15px;
  cursor: pointer;
  text-align: center; 
  transition: filter 0.5s ease; /* Smooth transition for the glow effect */
  
}

.cal-button-right {
  transition: all 0.3s ease;
  width: 100px; 
  height: 80px; 
  padding: 20px 20px;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0px 0.5px 2px rgba(100, 100, 100, 0.993); 
  font-size: 16px;
  border: none;
  background-color: #f0f0f0;
  border-radius: 15px 15px 15px 15px;
  cursor: pointer;
  text-align: center; 
  transition: filter 0.3s ease; /* Smooth transition for the glow effect */
}


.cal-unv-button {
  transition: all 0.3s ease;
  width: 100px; 
  height: 80px; 
  margin-right: 15px; 
  font-size: 16px;
  padding: 20px 20px; 
  font-family: 'Poppins', sans-serif; 
  border: none;
  background-color: #f0f0f0;
  color: #b1b1b1;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 0.5px 2px rgba(100, 100, 100, 0.993); 
  cursor: pointer;
  text-align: center; 
  pointer-events: none; 
  opacity: 0.5; 
  transition: filter 0.3s ease; /* Smooth transition for the glow effect */
}

.cal-unv-button-right {
  transition: all 0.3s ease; 
  width: 100px; 
  height: 80px; 
  padding: 20px 20px; 
  font-size: 16px;
  font-family: 'Poppins', sans-serif; 
  box-shadow: 0px 0.5px 2px rgba(100, 100, 100, 0.993); 
  border: none;
  color: #b1b1b1;
  background-color: #f0f0f0;
  border-radius: 15px 15px 15px 15px;
  cursor: pointer;
  text-align: center; 
  pointer-events: none; 
  opacity: 0.5;
  transition: filter 0.3s ease; /* Smooth transition for the glow effect */
}

/* hover 상태 스타일 */
.cal-button:hover, .cal-unv-button:hover { 
  background-color: rgba(252, 215, 4, 0.378); 
  filter: drop-shadow(0 0 10px rgba(255, 217, 0, 0.521)); /* Glow effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transform: translateY(-2px); 
  color: #ffffff;
}

.cal-button-right:hover, .cal-unv-button-right:hover {
  background-color: rgba(252, 215, 4, 0.378); 
  filter: drop-shadow(0 0 10px rgba(255, 217, 0, 0.521)); /* Glow effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transform: translateY(-2px);
  color: #ffffff;
}


.profile-bottom-container { 
  display: flex; /* flexbox 적용 */
  justify-content: space-around; /* 컨테이너 간 간격 조절 */
}


.daily-emotions-container {
  /*margin-left: 50px;*/
  margin-right: 21%;
  background-color: #cecbcbc4;  
  margin-top: -20px;
  border-radius: 0px 20px 20px 0px;
  padding: 15px;
  width: 75%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  align-items: center; 
  box-shadow: 0 4px 4px rgb(48, 47, 47); 
}

.daily-emotion-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 10px; 
  width: 160px;
  height: 280px;
  border: none;
  background-color: #f0f0f0; /* 배경색 추가 */
  box-shadow: 0px 2px 3px rgba(100, 100, 100, 0.993); 
  border-radius: 40px;  /* 둥근 모서리 */
  cursor: pointer;
  flex: 0 0 auto;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* 부드러운 전환 효과 */
}

.daily-emotion-button:hover {
  background-color: rgba(221, 216, 216, 0.74); 
  box-shadow: 0 4px 8px rgb(250, 2, 2); 
  transform: translateY(-2px); 
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* 부드러운 전환 효과 */
}

.daily-emotion-button img {
  width: 50px; 
  height: 50px; 
}

.daily-emotion-date {
  /*background-color: #353434;*/
  color: #202020;
  font-family: 'Poppins', sans-serif; 
  font-weight: bold;
  font-size: 20px;
  padding: 1px;
  border-radius: 10px;  /* 둥근 모서리 */
}
.daily-emotion-emotion {
  background-color: #bdbdbd;
  font-family: 'Poppins', sans-serif; 
  font-weight: bold;
  font-size: 25px;
  padding: 8px;
  margin-top: 5px;
  border-radius: 40px;  /* 둥근 모서리 */
  box-shadow: 0px 0.5px 2px rgba(100, 100, 100, 0.993); 
}

.daily-emotion-square {
  /* 네모 박스 스타일 */
  width: 150px; 
  height: 200px; 
  background-color: lightgray;
  margin: 5px 0; 
}


.daily-emotion-button img {
  /* 네모 박스 스타일 */
  width: 150px; /* 예시 */
  height: 165px; /* 예시 */
  background-color: lightgray; /* 예시 */
  box-shadow: 2px 2px 2px rgb(170, 170, 170),  /* 오른쪽 아래 */
            -2px 2px 2px rgb(170, 170, 170), /* 왼쪽 아래 */
            2px -2px 2px rgb(170, 170, 170), /* 오른쪽 위 */
            -2px -2px 2px rgb(170, 170, 170); /* 왼쪽 위 */ 
  margin: 5px 0; /* 위아래 여백 */
}

body {
  padding-bottom: 60px; /* 원하는 padding 값으로 조절 */
  padding-top: 30px;
}

#fix-profile-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: 85%;
  position: relative; 
}

#fix-profile-btn img {
  width: 100%;
  height: 100%;
  transition: filter 0.3s ease; /* Smooth transition for the glow effect */
}

#fix-profile-btn:hover img {
  filter: drop-shadow(0 0 10px rgb(15, 29, 108)); /* Glow effect */
  transform: translateY(-1px);
}

#chat-btn {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  margin-left: 350px !important;
  margin-top: -2px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: 100px;
}

#chat-btn img {
  width: 50px;
  height: 50px;
  
  transition: filter 0.3s ease; /* Smooth transition for the glow effect */
}

#chat-btn:hover img {
  transform: translateY(-1px);
  filter: drop-shadow(0 0 10px rgb(15, 29, 108)); /* Glow effect */
}

