<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>입력 폼</title>
    <link rel="stylesheet" href="/assets/css/make_Profile.css">
</head>
<body>
    <div class="container">
        <div class="logo-container">
            <img src="/assets/logo.png" alt="Logo">
        </div>
        <form action="/submit" method="post">
            <input type="text" id="name" name="name" placeholder="이름을 입력하세요" required>
            <input type="text" id="introduce" name="introduce" placeholder="소개를 입력하세요" required>
            <button type="submit" id="login-button">제출</button>
        </form>
    </div>
</body>
</html>
